<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>FanFilm</title>
    <link rel="icon" type="image/png" href="../assets/commons/favicon.png"/>
</head>
<nav>
    <ul>
        <li>Film disponibles</li>
        <ul>
            <li><a href="films/avatar.html">Avatar</a></li>
        </ul>
        <li>Producteur/réalisateur disponibles</li>
        <ul>
            <li><a href="directors/james-cameron.html">James Cameron</a></li>
        </ul>
        <li>Acteur disponibles</li>
        <ul>
            <li><a href="actors/sam-worthington.html">Sam Worthington</a></li>
            <li><a href="actors/zoe-saldana.html">Zoe Saldana</a></li>
        </ul>
    </ul>
</nav>
<body>

</body>
</html>